.header__lang-item {
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    margin-right: 18px;
}
.header__lang-item:last-of-type {
    margin-right: 0;
}
@media screen and (max-width: 767px) {
    .header__lang-item {
            font-size: 18px;
            line-height: 20px;
          }
}