.intro__box {
    max-width: 690px;
    margin: 0;
    padding: 92px 0 92px 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__box {
            max-width: 720px;
            padding: 88px 0 88px 0;
        }
}
@media screen and (max-width: 767px) {
    .intro__box {
            max-width: 288px;
            padding: 64px 0 64px 0;
        }
}