.footer__list-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    color: #fff;
    margin-right: 18px;
}
.footer__list-link:last-of-type {
    margin-right: 0;
}
@media screen and (max-width: 767px) {
    .footer__list-link {
            margin: 0 0 32px 0;
            font-size: 24px;
            line-height: 24px;
        }
}
@media screen and (max-width: 767px) {
    .footer__list-link:last-of-type {
            margin-bottom: 0;
        }
}